:root { 
    --main-bg-color: rgb(94, 94, 94);
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-container {
    width: clamp(361px,60%,800px);
    display: grid;
    grid-template-columns: repeat(3, minmax(120px,1fr));

}
.not-started,
.in-progress,
.finished {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    justify-content: center;
}

.book-container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

h2 {
    margin: 0px 8px 0px 8px;
}
