:root { 
    --main-bg-color: rgb(53, 47, 79);
    --heading-one-color: rgb(189, 187, 249);
    --column-bg-color: rgb(33, 30, 50);
    --column-secondary-color: rgb(136, 132, 255);
    --column-heading-color: rgb(189, 187, 249);
    --book-container-bg-color: rgb(189, 187, 249);
    --book-container-text-color: rgb(53, 47, 79);
    --book-container-border-color: rgb(81, 72, 121);
    --form-text-color: rgb(189, 187, 249);
    --form-border-color: rgb(136, 132, 255);
}

body{
    /* background-image: url('./img/background.jpeg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-bg-color);
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    letter-spacing: 6px;
    font-weight: 300;
    color: var(--heading-one-color);
    font-size: 4.5rem;
    margin: 0px;
}

#page-container{
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.library-container {
    width: clamp(361px,60%,1000px);
    display: grid;
    grid-template-columns: repeat(3, minmax(145px,1fr));
    column-gap: 3%;
}

h2{
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.2rem;
}

.not-started,
.in-progress,
.finished {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    justify-content: center;
    color: var(--column-heading-color);
    
}

.book-column {
    padding: 5px;
    border: 3px solid var(--column-secondary-color);
    border-radius: 10px;
    background-color: var(--column-bg-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.book-container{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--book-container-bg-color);
    color: var(--book-container-text-color);
}

.book-title {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 500;
}


.book-author,
.book-page-count {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#add-book-btn {
    background-color: rgb(95, 214, 101);
    color: black;
    font-weight: 550;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(48, 129, 52);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: flex-end;
    margin-right: 20%;
    width: 110px;
    height: 50px;
}

#form-container {
    color: rgb(189, 187, 249);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 10px;
    background-color: var(--main-bg-color);
    border: 3px solid var(--form-border-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#form-container ul {
    list-style: none;
    line-height: 1.6;
}

#form-container p {
    font-size: .7rem;
}

.form-header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.form-header button,
.form-header img {
    margin: 0;
    padding: 0;
}

.form-header button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
}
legend {
    font-weight: 700;
}

#form-container.hidden,
#screen-cover.hidden {
    display: none;
}

#form-container.showing {
    position: fixed;
    width: 325px;
    height: 325px;
    top: 50%;
    left: 50%;
    margin-top: -150px; 
    margin-left: -150px;
    z-index: 2;
}

#screen-cover.showing {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50vh;
    margin-left: -50vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.blur {
    filter: blur(7px);
}

@media only screen and (max-width: 600px) {
    .library-container {
        grid-template-columns: minmax(145px,1fr);
        row-gap: 30px;
    }

    #add-book-btn {
        position: fixed;
        left: 250px;
        bottom: 30px;
    }
}